.post
{
    height: 450px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #F0F2F7;
}

.miniAva img
{
    float: left;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50px;
}

.miniName
{
    font-family: Elephant;
    font-size: 20px;
    position: relative;
    top: 25px;
}

.seen
{
    position: relative;
    top: 10px;

    text-align: right;
}
.postImg{
    font-size: 15px;
}
.postImg img
{
    width: 100%;
    height: 300px;
}

.countLike
{
    text-align: right;
}

.like
{
    float: right;

    margin-left: 5px;
}

.countLike
{
    margin: 10px;
}
