.App {
    display: grid;

    padding: 30px;

    grid-template-areas:'header header header'
    'nav aside aside'
    'footer footer footer';
    grid-template-rows: 60px 1fr 20px;
    grid-template-columns: 2fr 10fr;
}

.header {
    background-color: #304159;

    grid-area: header;
}

.nav {
    background-color: #f0f2f7;

    grid-area: nav;
}

.aside {
    background-color: #f0f2f7;

    grid-area: aside;
}


.footer {
    background-color: darkgrey;

    grid-area: footer;
}
