.App {
  padding: 30px;
  display: grid;


  grid-template-areas:
"header header header"
"nav aside aside"
"footer footer footer";
  grid-template-rows: 60px 1fr 30px;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
.header {
  grid-area: header;
  background: #7D5F8C;

}

.nav {
  grid-area: nav;
  background: beige;
}
.aside {
  grid-area: aside;
  background: #decdac;
}



.footer{
  grid-area: footer;
  background: #aeddde;
}